<!DOCTYPE html>
<html lang="en">
<body>
<!-- START PAGE -->
<div id="eis-upgrade">
    <h3 class="col-md-8 col-md-offset-2">Simplify your web content creation process today by making your life easier with the EasyIndex WordPress plugin.</h3>

    <div class="center-block ei-prices">
        <ul class="price-table free list-unstyled">
            <li class="title">FREE VERSION</li>
            <li class="price">$0</li>
            <li class="description">All the basic features</li>
            <li class="bullet-item">9 index styles</li>
            <li class="bullet-item">Basic formatting</li>
            <li class="bullet-item">Custom CSS</li>
            <li class="bullet-item">-</li>
            <li class="bullet-item">-</li>
            <li class="bullet-item">-</li>
            <li class="bullet-item">-</li>
            <li class="bullet-item">-</li>
            <li class="bullet-item">-</li>
            <!-- li>&nbsp;</li -->
        </ul>

        <ul class="price-table plus list-unstyled">
            <li class="title">EASYINDEX PLUS</li>
            <li class="price">$32.95</li>
            <li class="description">The works!.</li>
            <li class="bullet-item">26 index styles</li>
            <li class="bullet-item">Basic formatting</li>
            <li class="bullet-item">Custom CSS</li>
            <li class="bullet-item">Money back guarantee</li>
            <li class="bullet-item">Google fonts</li>
            <li class="bullet-item"><a href="https://youtu.be/aR18dS3tZ5Q" target="_blank">Pinterest style galleries</a></li>
            <li class="bullet-item"><a href="https://youtu.be/2-kSPOreKg8" target="_blank">Live Formatting</a></li>
            <li class="bullet-item"><a href="https://youtu.be/93QsQ7plEWc" target="_blank">Sidebar Photo Widget</a></li>
            <li class="bullet-item"><a href="https://youtu.be/y9qatlidbho" target="_blank">Embedded Photo Widget</a></li>
            <!-- li><a class="btn" href="https://order.easyindexplugin.com/order/">UPGRADE NOW!</a></li -->
        </ul>
        <a class="btn" href="https://order.easyindexplugin.com/order/">UPGRADE NOW!</a>
    </div>

</div>
<!-- END PAGE -->
</body>
</html>

